body {
  background-color: rgba(17, 7, 13, 0.548);
}

.board{
  display: flex;
  flex-direction: row;
} 

.moves-container{
  display: flex;
  flex-direction: column;
}

.move-row{
  box-sizing: border-box;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  padding: 0 15px 0 15px;
  position: relative;
  width: 100%;
}

.move{
  margin-right: 100px;
  white-space: nowrap;
  color: rgb(255, 255, 255);
}