body{}

.chessboard {
  display: flex;
  justify-self: left;
  background-color: black;
}

.moves-container {
  display: flex;
}

#gtx-trans 
{ display:none ! important}

.board{
  display: flex;
  flex-direction: row;
}